<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="toolbar" class="row marketing">
                <ul class="nav nav-tabs">
                    <li class="{{(step == 'Localizable') ? 'active' : 'inactive'}}"><a ng-click="step = 'Localizable'">Localizables</a></li>
                    <li class="{{(step == 'Storyboard') ? 'active' : 'inactive'}}"><a ng-click="step = 'Storyboard'">Storyboards</a></li>
                </ul>
            </div>

            <div ng-show="step == 'Localizable'" id="localizable-export" class="row marketing">
                <h3>Localizable</h3>
                <div class="toolbar">
                    <button class="btn btn-primary" ng-click="saveLocalizables(localizables)">Export All</button>
                </div>
                <ul class="nav nav-tabs">
                    <li ng-repeat="language in settings.languages" ng-class="{active: $parent.localizablePreviewLanguage == language}"><a ng-click="$parent.localizablePreviewLanguage = language">{{language.name}}</a>
                    </li>
                </ul>
                <div class="toolbar col-md-12">
                    <label class="pull-left">Folder Name </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="localizables[localizablePreviewLanguage.key].folderName" />
                    </div>


                    <div class="col-md-6 btn-group">
                        <button class="btn btn-default" ng-click="saveFile(localizables[localizablePreviewLanguage.key].toString(), localizables[localizablePreviewLanguage.key].language.name + '.strings')">Download File</button>
                    </div>
                </div>
                <div ng-show="showPreview">
                    <h3>File Preview:</h3>
                    <pre>
                        {{localizables[localizablePreviewLanguage.key].toString()}}
                    </pre>
                </div>
                <table class="ios-strings-preview" ng-hide="showPreview">
                    <tr ng-repeat="string in localizables[localizablePreviewLanguage.key].stringList">
                        <td><input class="valid-{{!!string.key}}" type="text" ng-model="string.key"/></td>
                        <td><input class="valid-{{!!string.value}}" type="text" ng-model="string.value"/></td>
                    </tr>
                </table>
            </div>

            <div ng-show="step == 'Storyboard'" id="storyboard-export" class="row marketing">
                <h3>Storyboard</h3>
                <form>
                    Storyboard Language:
                    <select ng-options="language.name for language in settings.languages" ng-model="storyboardLanguage">

                    </select>
                    <input id="ios-import-file" type="file" onchange="angular.element(this).scope().onAddFile(this)" />
                </form>
                <div class="toolbar" style="padding: 1em;">
                    <button class="btn btn-default" ng-click="export(storyboards)">Export to File System</button>
                    <button class="btn btn-default">Clear</button>
                </div>
                <ul class="nav nav-tabs">
                    <li ng-repeat="language in settings.languages"><a ng-click="$parent.storyboardPreviewLanguage = language">{{language.name}}</a>
                    </li>
                </ul>
                <div class="row toolbar">
                    <label>Folder Name <input type="text" ng-model="storyboards[storyboardPreviewLanguage.key].folderName" /></label>
                </div>
                <table class="ios-strings-preview">
                    <tr>
                        <th>Storyboard Key</th>
                        <th>Original Text</th>
                        <th>Translation</th>
                    </tr>
                    <tr ng-repeat="string in storyboards[storyboardPreviewLanguage.key].stringList">
                        <td><input class="valid-{{!!string.key}}" type="text" ng-model="string.key"/></td>
                        <td><input type="text" ng-model="string.originalValue"></td>
                        <td><input class="valid-{{!!string.value}}" type="text" ng-model="string.value"/></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
